[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Jongchul Park (jcpark)
[access "refs/for/refs/*"]
	read = group user/Jongchul Park (jcpark)
	push = group user/Jongchul Park (jcpark)
	label-Code-Review = -2..+2 group user/Jongchul Park (jcpark)
	label-Verified = -1..+1 group user/Jongchul Park (jcpark)
	rebase = group user/Jongchul Park (jcpark)
	removeReviewer = group user/Jongchul Park (jcpark)
	submit = group user/Jongchul Park (jcpark)
[access "refs/heads/*"]
	read = group user/Jongchul Park (jcpark)
	create = group user/Jongchul Park (jcpark)
	push = +force group user/Jongchul Park (jcpark)
	pushMerge = group user/Jongchul Park (jcpark)
[access "refs/tags/*"]
	push = +force group user/Jongchul Park (jcpark)
	pushTag = group user/Jongchul Park (jcpark)
	pushSignedTag = group user/Jongchul Park (jcpark)
